/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* Estilos para la barra lateral */
.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.sidebar button:hover {
  background-color: #0056b3;
}

/* Estilos para el contenido principal */
.main-content {
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 30%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.form-container {
  width: 60%;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.sidebar {
  background-color: rgb(19, 60, 107); /* Color de fondo oscuro */
  color: #ffffff; /* Color del texto en blanco */
  height: 100vh;
  padding: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #ffffff; /* Color del texto */
}

.menu-item:hover {
  background-color: rgb(15, 48, 86)
  /* Efecto hover en un tono gris oscuro */
}

.menu-item svg {
  margin-right: 10px; /* Espaciado para los iconos */
}
