.card-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.student-form-card {
  background-color: #e3f2fd

  ; /* Color de fondo de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  width: 1050px; /* Ancho de la tarjeta */
  max-width: 100%;
}

.student-form-content {
  display: flex;
  padding: 20px;
}

.photo-container {
  margin-right: 20px;
}

.student-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #333;
}

.form-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-container label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.prev-button, .next-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.prev-button:hover, .next-button:hover {
  background-color: #45a049;
}
